{{!-- app/templates/application.hbs --}}
<main>

<div id="ember-bootstrap-wormhole"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col profile-header">
     <ProfileOwn />
    </div>
    <div class="col profile-header">
        <ProfileOther />
    </div>
  </div>
  <div class="row">
    <div class="col">
        <div class="button-container spacing">
            <LinkTo @route="pong-game" class="nav-button">Game</LinkTo>
            <LinkTo @route="chat" class="nav-button">Chat</LinkTo>
            <LinkTo @route="tournament" class="nav-button">Create Tournament</LinkTo>
        </div>
    </div>
    <div class="col-6 pong-game">
		{{outlet}}
    </div>
    <div class="col">
      <NavigationBar />
      <UserList/>
    </div>
  </div>
  <div class="row">
    <div class="col profile-footer">
      1 of 3
    </div>
    <div class="col-6 profile-footer">
      <Scoreboard />
    </div>
    <div class="col profile-footer">
      3 of 3
    </div>
  </div>    
</div>

</main>
