{{!-- app/templates/application.hbs --}}
<main>

<div id="ember-bootstrap-wormhole"></div>

<div class="container-fluid">
  <div class="container-fluid row">
    <div class="col header">
     <ProfileOwn />
    </div>
    <div class="col header">
      {{#if this.selectedUser}}
        <ProfileOther @user={{this}}/>
      {{else}}
        <TitleAnimation />
      {{/if}}
    </div>
  </div>
  <div class="container-fluid row">
    <div class="container-fluid col-3 middle">
        <TournamentList />
    </div>
    <div class="container-fluid col-6 middle">
		{{outlet}}
    </div>
    <div class="container-fluid col-3 middle">
      <NavigationBar />
      <UserList @selectUser={{this.selectUser}}/>
    </div>
  </div>
  <div class="container-fluid row">
    <div class="container-fluid col-3 footer">
            <LinkTo @route="choose-game" class="nav-button">Game</LinkTo>
            <LinkTo @route="chat" class="nav-button">Chat</LinkTo>
            <LinkTo @route="tournament" class="nav-button">Create Tournament</LinkTo>
    </div>
    <div class="container-fluid col-6 footer">
      <Scoreboard />
    </div>
    <div class="container-fluid col-3 footer">
	  <DirectMessage/>
    </div>
  </div>    
</div>

</main>
