{{!-- app/templates/index.hbs --}}
<h1>Welcome to the Index Page!</h1>

<div class="container-fluid full-height">
  <div class="row full-height">
    <div class="col">
      1 of 3
    </div>
    <div class="col-6 d-flex flex-column justify-content-between">
      <div class="container mid-container">
        Container mid 1
      </div>
      <div class="container mid-container">
        Container mid 2
      </div>
      <div class="container mid-container">
        Container mid 3
      </div>
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>
