<div class="pong-game">
  <Paddle @position={{this.leftPaddlePosition}} @side="paddle-left" />
  <Ball @positionX={{this.ballPositionX}} @positionY={{this.ballPositionY}} />
  <Paddle @position={{this.rightPaddlePosition}} @side="paddle-right" />
</div>