<div class="user-count">9/10</div>
<UserList/>

<div class="button-container">
  <button class="nav-button start" type="button">Start Tournament</button>
  <button class="nav-button cancel" type="button">Cancel Tournament</button>
</div>

