<div class="waviy">
   <span style="--i:1">4</span>
   <span style="--i:2">2</span>
   <span style="--i:3">_</span>
   <span style="--i:4">tr</span>
   <span style="--i:5">a</span>
   <span style="--i:6">s</span>
   <span style="--i:7">cen</span>
   <span style="--i:8">d</span>
   <span style="--i:8">e</span>
   <span style="--i:8">nc</span>
   <span style="--i:8">e</span>
</div>