{{!-- app/components/app-layout.hbs --}}
<div class="container-fluid">
  <HeaderMenu />
  <div class="content">
    {{yield}}  {{!-- This will render the content of the routes inside the layout --}}
  </div>
</div>
