<button class="btn btn-success p-1 mb-1" type="button" {{on "click" this.openModal}}>
          Games: {{this.user.profile.games_total}}
</button>

<BsModal
  @open={{this.isModalOpen}}
  as |modal|
>
  <modal.header>
    <h4 class="modal-title">
      Match History
    </h4>
  </modal.header>

  <modal.body>
    <div class="container-fluid row" style="height: 50vh; overflow-y: auto; margin: 0; padding: 0;">
        <div class="scrollable-list history-scroll">
    
          <HistoryItem />
          <HistoryItem />
          <HistoryItem />
          <HistoryItem />
          <HistoryItem />
          <HistoryItem />
          <HistoryItem />

        </div>
    </div>
    
    
  </modal.body>

</BsModal>
