<nav class="navigation-bar">
    <button class="nav-button" type="button">Friends</button>
    <button class="nav-button" type="button">All</button>
    <button class="nav-button" type="button">Last</button>
</nav>
