<nav class="navigation-bar">
    <button class="nav-button" type="button" {{on "click" (fn this.onLeaveClick @creator)}}>Friends</button>
    <button class="nav-button" type="button" {{on "click" (fn this.onLeaveClick @creator)}}>All</button>
</nav>