<div class="container-fluid row border">
  {{!-- Profile picture column (1 part) --}}
  <div class="col-5">
    <User @user={{this.player_1}} />
  </div>

  {{!-- Profile details column (3 parts) --}}
  <div class="col-2">
    <h4>3:1</h4>
  </div>

  <div class="col-5">
    <User @user={{this.player_2}} />
  </div>
</div>
<div class="container-fluid row border">
  {{!-- Profile picture column (1 part) --}}
  <div class="col-5">
    <User @user={{this.player_2}} />
  </div>

  {{!-- Profile details column (3 parts) --}}
  <div class="col-2">
    <h1 class="white center">Next Match</h1>
  </div>

  <div class="col-5">
    <User @user={{this.player_2}} />
  </div>
</div>
