<div class="scrollable-list footer-scroll">
    {{#each this.users as |user|}}
        <User @name={{user.name}} @points={{user.points}} @profilePicture={{user.profilePicture}} @selectUser={{this.selectUser}} />
    {{/each}}
</div>