<div class="scrollable-list middle-scroll">
    {{#each this.tournaments as |tournament|}}
        <Tournament @creator={{tournament.creator}} @current_players={{tournament.current_players}} @max_players={{tournament.max_players}}/>
    {{/each}}
</div>