<nav class="navigation-bar">
    <h1 class="white">Tournaments</h1>
    <button class="tournament-button update" onclick={{this.onJoinClick}} type="button">↻</button>
</nav>
<div class="scrollable-list middle-scroll">
    {{#each this.tournaments as |tournament|}}
        <TournamentItem @creator={{tournament.creator}} @current_players={{tournament.current_players}} @max_players={{tournament.max_players}}/>
    {{/each}}
</div>